@charset "utf-8";
* { font-family: 'Spoqa Han Sans',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; }
html,body{ margin:0; padding:0; width:100%; height:100%; font-size: 16px;}
a { color: #000; }
.container { width: 800%; height: 100%; display: flex;  overflow-y:hidden }
.main { width: 12.5%; display: flex; }
.main > .main_bg { width: 90%; height: 100%; background: url(images/main.jpg)no-repeat; background-size: cover; background-position: 50% 60%; }
.main > .blank { width: 10%; background-color: #ddd; }
.pic { display: flex; flex-direction: column; width: 12.5%; position:relative;}
.pic > img { width: 150px; height: 150px; z-index: 100; position: fixed; left: 22.6%; top: 0.5%; }
.pic > img:hover { display: none; border: 1px solid #000; width: 300px; height: 150px; }
.pic > .slider { width: 100%; height: 100%; position: relative;}
.pic > .slider > div { position: absolute; top: 0;left: 0; height: 100%;}
.pic > .slider > .myphoto { width: 100%; height: 100%; background: url(images/내사진-100.jpg)no-repeat; background-size: cover; background-position: 50% 50%;}
.pic > .slider > .mycoding { width: 100%; height: 100%; background: url(images/코딩-100.jpg)no-repeat; background-size: cover; background-position: 50% 50%;}
.intro { width: 14.5%; height: 100%; position: relative ; top: 0; left: 0; background-color: #2d2d2d; display: flex; flex-direction: column; justify-content: center;}
.intro .introBox { height: 100%; margin-left: 10%; z-index: 2;}
.intro .name { width: 80%; display: flex; flex-direction: column;
justify-content: center;}
.intro > .introBox > div { height: 33.3333%; }
.intro > .introBox > .textBox { display: flex; align-items: center;}
.intro > .introBox > .textBox > div { margin-right: 5%; display: flex; flex-direction: column; margin-top: 8%; height: 100%;}
.intro > .introBox > .textBox > .skill { display: flex; flex-direction: column; justify-content: center; }
.intro > .introBox > .textBox > .academic > p:nth-child(2) {
    margin-bottom: 1%;
}
.intro > .introBox > .textBox > .academic > p:nth-child(3) { margin-left: 17%; }
.intro h1,.intro h3 { color: #fff; }
.intro h1 {width: 450px; font-size: 3rem; margin-top: 0; border-bottom: 4px solid #fff; line-height: 1.5;}
.intro h3 { font-size: 1.8rem; margin: 0; font-weight: normal; margin-bottom: 1%;} 
.intro h4 { font-size: 1.5rem; font-weight: bold; color: #ddd;  margin-bottom: 1%; }
.intro > .introBox > .textBox > div h4 { font-size: 1.5rem; font-weight: bold; color: #ddd;  margin-bottom: 1.5vh; }
.intro > .introBox > .textBox > div p { font-size: 1.3rem; color: #ddd;  margin-bottom: 4%;}
.intro p { font-size: 1.3rem; color: #ddd;  margin-bottom: 1%;}
.intro > img { position: absolute; right: -20vh; bottom: 28vh; z-index: 99; width: 30vw; height: 30vw;}
.intro_line {  width: 6%; height: 100%; border-bottom: 1px solid #000; margin-left: -20px; z-index: 1;}
.intro_line > .line { width: 100%; height: 1.245%; border: 1px solid #000; background-color: #fff; border-radius: 30px 0 0 30px;}
.portfoilo { display: flex; width: 37.5%; height: 100%; }
.portfoilo .box { border: 1px solid #000; width: 14.2857%; display: flex; flex-direction: column; align-items: center; }
.portfoilo > .box > .pf_explan { width: 100%; height: 70%;  border-bottom: 1px solid #000;}
.portfoilo > .box > .pr_text { height: 30%; display: flex; flex-direction: column; justify-content: center;}
.portfoilo > .box > .pr_text > h1 { font-weight: bold; font-size: 2rem;}
.portfoilo > .box > .pr_text > p { margin: 0; font-size: 1.6rem; margin-bottom: 2%;}
.portfoilo > .box > .pr_text > p > span { font-weight: bold; }
.portfoilo > .pf_1 > .pf_explan { border-bottom: 1px solid #000;background: url() no-repeat; background-size: 60%; background-position: center bottom;}
.portfoilo > .pf_2 > .pf_explan { border-bottom: 1px solid #000;background: url(images/trophy-06.png) no-repeat; background-size: 40%; background-position: center bottom;}
.hashtag { width: 18%; height: 100%; border: 1px solid #000; display: flex; justify-content: center; align-items: center; }
.hashtag > .hash_container { width: 70%; height: 50vw; display: flex; flex-wrap: wrap;}
.hashtag > .hash_container > .tag { width: 12%; height:9.9vw ;border: 1px solid #000; border-radius: 50%; display: flex; align-items: center; justify-content: center}
.hashtag > .hash_container > .double { width: 25%; border-radius: 50%/100%; ;}
.hashtag > .hash_container > .tag > p {font-size: 1.5rem; }
.hashtag > .hash_container > .tag > .tagline > .tagliner { width: 10%; border:10% solid #000;}
.blank {width: 1.5%;}
#image {
    -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
};



